<div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle center">
      <h6 class="heading font-x1">Our Services</h6>
      <p>We spread our wings to the various service sectors, to help businesses gain access all under one roof.</p>


<ul class="nospace group">
    <li class="one_quarter first">
      <article><a href="#"><i class="icon btmspace-30 fa fa-gitlab"></i></a>
        <h6 class="heading font-x1">IT Consulting</h6>
        <p>With deep domain expertise and market knowledge, we give you a walkthrough of trending features and functionalities to choose from, that make your product stand out in the industry[&hellip;]</p>
      </article>
    </li>
    <li class="one_quarter">
      <article><a href="#"><i class="icon btmspace-30 fa fa-globe"></i></a>
        <h6 class="heading font-x1">We Advertise</h6>
        <p>Et lobortis orci vitae laoreet nisi donec malesuada sed elit nec bibendum [&hellip;]</p>
      </article>
    </li>
    <li class="one_quarter">
      <article><a href="#"><i class="icon btmspace-30 fa fa-tencent-weibo"></i></a>
        <h6 class="heading font-x1">e-Commerce</h6>
        <p>Nec orci sed lorem tempor dictum vitae imperdiet tellus curabitur semper [&hellip;]</p>
      </article>
    </li>
    <li class="one_quarter">
      <article><a href="#"><i class="icon btmspace-30 fa fa-wpexplorer"></i></a>
        <h6 class="heading font-x1">Supply Chain Trading Solutions</h6>
        <p>Felis at massa elementum imperdiet id imperdiet ligula nulla eget hendrerit [&hellip;]</p>
      </article>
    </li>
    <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-tencent-weibo"></i></a>
          <h6 class="heading font-x1">Digi-Track></h6>
          <p>Nec orci sed lorem tempor dictum vitae imperdiet tellus curabitur semper [&hellip;]</p>
        </article>
      </li>

      <li class="one_quarter">
          <article><a href="#"><i class="icon btmspace-30 fa fa-tencent-weibo"></i></a>
            <h6 class="heading font-x1">Hospitality Services</h6>
            <p>Nec orci sed lorem tempor dictum vitae imperdiet tellus curabitur semper [&hellip;]</p>
          </article>
        </li>
        <li class="one_quarter">
            <article><a href="#"><i class="icon btmspace-30 fa fa-tencent-weibo"></i></a>
              <h6 class="heading font-x1">Digital Marketing></h6>
              <p>Nec orci sed lorem tempor dictum vitae imperdiet tellus curabitur semper [&hellip;]</p>
            </article>
          </li>
          <li class="one_quarter">
              <article><a href="#"><i class="icon btmspace-30 fa fa-tencent-weibo"></i></a>
                <h6 class="heading font-x1">Renewable Energy Solution</h6>
                <p>Nec orci sed lorem tempor dictum vitae imperdiet tellus curabitur semper [&hellip;]</p>
              </article>
            </li>
            


  </ul>
</div>
</div>